{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h2 style="color: rgb(7, 241, 221);">Login Here</h2>
        <div class="card card-body">
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <label for="">Username:</label><input type="text" name="username"  placeholder="Enter Username"><br><br>
                <label for="">Password:</label><input type="password" name="password"  placeholder="Enter Password"><br><br>
                <input type="submit" value="Login" class="btn btn-success">
            </form>
        </div>
    </div>
</div>
{% endblock %}